---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import CategoryCard from '../components/CategoryCard.astro';
---

<Layout title="SpiritBase — Духовная база знаний">
  <section class="text-center mt-8">
    <h1 class="text-5xl font-medium">SpiritBase</h1>
    <p class="text-lg text-text-secondary max-w-4xl mx-auto leading-relaxed mt-1 mb-16">
      База знаний, посвящённая духовному наследию доктора богословия Игоря Гриненко.
    </p>
  </section>
  <Search/>

  <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl mx-auto">
    <CategoryCard title="Теология" status="New! Уже доступно" href="/theology" />
    <CategoryCard title="Рождественские заметки" status="Уже доступно" href="/christmas-notes" />
    <CategoryCard title="Наш путь в Горы Блаженства" status="Уже доступно" href="/our-way" />
    <CategoryCard title="Читая книгу Откровение" status="Уже доступно" href="/revelation" />
    <CategoryCard title="Проповеди" status="В разработке" href="#" />
    <CategoryCard title="Мысли для размышления" status="В разработке" href="#" />
  </section>
</Layout>