---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import CategoryCard from '../components/CategoryCard.astro';
---

<Layout title="SpiritBase — Духовная база знаний">
  <Search/>
  <section class="mt-12 flex flex-wrap justify-center gap-4">
    <CategoryCard title="Читая книгу Откровение" status="Уже доступно" href="/revelation" />
    <CategoryCard title="Проповеди" status="В разработке" href="#" />
    <CategoryCard title="Наш путь в Горы Блаженство" status="В разработке" href="#" />
    <CategoryCard title="Мысли для размышления" status="В разработке" href="#" />
  </section>
</Layout>
